
<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <title>Agawork</title>
    <link rel="icon" href="/static/image/logo.png">

    <link rel="canonical" href="https://agawork.tw" />
    <meta property="og:url" content="https://agawork.tw" />

    <meta name="description" content="到處跳坑的工程師 - 黃維嘉的專案集散地"/>
    <meta property="og:description" content="到處跳坑的工程師 - 黃維嘉的專案集散地"/>

    <meta property="og:site_name" content="Agawork" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Agawork" />
    <meta property="og:image" content="https://agawork.tw/static/image/logo.png" />

    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@^1.6.1/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=1.0.0">

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64789288-4', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body>
    <div class="mainApp" id="mainApp">
      <q-layout view="lHh lpr lFf" class="bg-grey-1" container>
        <q-header class="topbar">
          <q-toolbar class="q-pr-none">
            <a href="/">
              <img class="logo" src="/static/image/logo-w.png">
            </a>
            <q-space></q-space>
            
            <q-btn class="gt-xs" size="16px" flat label="專案" @click="ScrollToAnchor('project');"></q-btn>
            <q-btn class="gt-xs" size="16px" flat label="技術文件" @click="ScrollToAnchor('resource');"></q-btn>
            <q-btn class="gt-xs" size="16px" flat label="關於" @click="ScrollToAnchor('about');"></q-btn>
            
            <q-btn class="lt-sm" flat @click="openMenu = !openMenu" icon="menu">
              <q-menu auto-close square transition-show="jump-down" transition-hide="jump-up">
                <q-list style="min-width: 100px">
                  <q-item clickable @click="ScrollToAnchor('project');">
                    <q-item-section>專案</q-item-section>
                  </q-item>
                  <q-item clickable @click="ScrollToAnchor('resource');">
                    <q-item-section>技術文件</q-item-section>
                  </q-item>
                  <q-item clickable @click="ScrollToAnchor('about');">
                    <q-item-section>關於</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>

          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page class="content-container">
            <div class="row justify-center items-end">
              <img class="banner" src="/static/image/logo.png">
              <div class="text-h6 text-grey-7 q-my-lg">坑是人挖出來的，<br>就由人將它填回去！</div>
            </div>
            <div class="row q-px-md" name="project">
              <div class="col-6 col-sm-4 col-md-3 q-pa-sm">
                <q-select  v-model="sortSelect" :options="sortOption" label="排序" option-value="value" option-label="label" emit-value map-options @input="UpdateProject();"></q-select>
              </div>
              
              <div class="col-6 col-sm-4 col-md-3 q-pa-sm">
                <q-select class="col-6 col-sm-4 col-md-3" v-model="categorySelect" :options="targetCategory" label="類別" option-value="name" option-label="name" emit-value map-options @input="ScrollToAnchor(categorySelect);"></q-select>
              </div>
            </div>

            <div>
              <q-card class="category" v-for="cat in targetCategory" :name="cat.name">
                <div class="row q-pa-sm bg-grey-8 text-white justify-center items-center cursor-pointer" @click="cat.openDesc = !cat.openDesc">
                  <div class="text-h6">{{cat.name}}</div>
                  <img class="expand-icon" src="/static/image/questionIcon.png">
                </div>

                <q-slide-transition>
                  <div v-show="cat.openDesc">
                    <div class="desc">{{cat.desc}}</div>  
                  </div>
                </q-slide-transition>
                
                <q-card-section class="row bg-grey-1 q-pa-sm">
                  <div class="col-12 col-sm-6 col-md-4 q-pa-sm" v-for="p in targetProject[cat.name]">
                    <q-card >
                      <q-img style="height:150px;" :src="p.photo"></q-img>
                      <q-separator></q-separator>

                      <q-card-section class="text-grey-9">
                        <div class="text-subtitle1">{{p.name}}</div>
                        <div class="text-subtitle2">{{p.desc}}</div>
                      </q-card-section>
                      <q-separator></q-separator>

                      <q-card-section class="bg-grey-1">
                        <ul class="link-list">
                          <li v-for="link in p.link">
                            <a :href="link.url" target="_blank">{{link.name}}</a>
                          </li>
                        </ul>
                      </q-card-section>
                    </q-card>
                  </div>
                </q-card-section>
                
              </q-card>
            </div>

            <q-card class="resource" name="resource">
              <div class="header">
                <div class="text-h6">技術文件</div>
              </div>
              <q-card-section>
                <div class="resource-link" v-for="r in resource">
                  <a :href="r.url">{{r.name}}</a>
                </div>
              </q-card-section>
            </q-card>

            <div class="q-pa-md">
              <div class="text-h4 text-center q-ma-sm">合作夥伴</div>
              <div class="partner">
                <a v-for="p in partner['mid']" :href="p.link" target="_blank">
                  <img class="logo-mid" :src="p.url">
                </a>
                <a v-for="p in partner['short']" :href="p.link" target="_blank">
                  <img class="logo-short" :src="p.url">
                </a>
                <a v-for="p in partner['long']" :href="p.link" target="_blank">
                  <img class="logo-long" :src="p.url">
                </a>
              </div>
            </div>

            <q-card class="about" name="about">
              <div class="header">
                <div class="text-h6">關於</div>
              </div>

              <q-card-section class="content">
                <q-avatar round size="150px">
                  <img src="/static/image/photo.jpg">
                </q-avatar>
                <div class="q-pa-md text-subtitle1">
                  黃維嘉<br>
                  一個到處跳坑的工程師，<br>
                  2016年底踏入開源的世界，從此掉進坑裡。<br>
                  入坑之前的學經歷請見
                  <a href="https://docs.google.com/presentation/d/1cpyT2GM9npwO2Hgh2GOkMco3X3WeKZbtKcz_zSQOj88/edit?usp=sharing" target="_blank">2016自我介紹</a>。<br>
                  若你喜歡我的專案，歡迎
                  <a class="donate-bt" href="https://p.ecpay.com.tw/D95AD">捐款贊助</a><br>
                  如有合作需求，也歡迎來信討論 aga3134@gmail.com
                </div>
              </q-card-section>

            </q-card>
                
          </q-page>

          <div class="loading-page" v-show="loading">
            <img src="/static/image/logo.png">
          </div>

        </q-page-container>

        </q-layout>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@^1.6.1/dist/quasar.umd.min.js"></script>
  <script src="/static/main.js?v=1.0.0"></script>
</html>