html, body{
	height: 100%; margin: 0; padding: 0;
    background-color: #cccccc;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

::-webkit-scrollbar {
    height: 8px;
    background-color: #cccccc;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #888888;
}

.mainApp{
	width: 100%;
	margin: auto;
	height: 100%;
	.topbar{
		background-color: rgba(50,50,50,0.5);
		color: #ffffff;
		.logo{
			height: 50px;
		}
	}
	.banner{
		display: block;
		margin: 0px 20px;
		width: 200px;
	}
	.content-container{
		max-width: 1200px;
		margin: auto;
	}
	.category{
		margin: 10px;
		.desc{
			font-size: 1.1em;
			background-color: #777777;
			color: #ffffff;
			padding: 10px;
		}
		.expand-icon{
			width: 15px;
			height: 15px;
			margin: 5px;
		}
		.link-list{
			margin: 0px;
			list-style: none;
			padding: 0px;
			li{
				a{
					font-size: 1.1em;
					text-decoration: none;
					color: #ff6633;
					&:hover{
						color: #993333;
					}
				}
			}
		}
	}

	.resource{
		margin: 10px;
		.header{
			text-align: center;
			padding: 5px;
			background-color: #4e9b6d;
			color: #ffffff;
		}
		.resource-link{
			display: inline-block;
			margin: 5px 10px;
			a{
				&::before{
					content:"◼";
					margin: 5px;
				}
				text-decoration: none;
				font-size: 1.1em;
				text-decoration: none;
				color: #336633;
				&:hover{
					color: #339933;
				}
			}
		}
	}

	.about{
		.header{
			text-align: center;
			padding: 5px;
			background-color: #2E4E7E;
			color: #ffffff;
		}
		.content{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #A1AFC9;
			color: #333333;
			.donate-bt{
				text-decoration: none;
				color: #ffffff;
				background-color: #6464F1;
				padding: 5px 10px;
				margin: 10px;
				border-radius: 3px;
			}
		}
	}

	.partner{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		.logo-long{
			height: 50px;
			margin: 10px;
		}
		.logo-mid{
			height: 75px;
			margin: 10px;
		}
		.logo-short{
			height: 100px;
			margin: 10px;
		}
	}
}